@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* variable css */
:root {
  --color-lightness: #e6e5e0;
  --color-light: #c5d1dd;
  --color-medium: #a4bcd4;
  --color-dark: #616974;
}

/* default css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  color: #495057;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* App */
.app-container {
  min-height: 66vh;
  display: grid;
  grid-template-columns: 34rem 44rem;
  column-gap: 4rem;
  align-items: start;
}

/* sidebar */
.sidebar ul {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style: none;
  font-size: 1.4rem;
}

.sidebar li {
  display: grid;
  grid-template-columns: 4.8rem 1fr auto;
  grid-template-areas:
    "image name button"
    ". paragraph .";
  column-gap: 1.6rem;
  align-items: center;
  padding: 1.2rem;
  border-radius: 7px;
  transition: 0.5%;
}

.sidebar li img {
  border-radius: 50%;
  width: 100%;
  transform: translateY(20px);
  grid-area: image;
}

.sidebar li h3 {
  grid-row: 1;
  grid-column: 2;
  grid-area: name;
}

.sidebar li p {
  grid-row: 2;
  grid-column: 2;
  grid-area: paragraph;
  transform: translateY(-10px);
}

.red {
  color: #e22d2d;
}

.green {
  color: #1cac1c;
}

.button {
  margin-top: 0.6rem;
  grid-area: button;
  padding: 0.8rem 1.2rem;
  cursor: pointer;
  border-radius: 7px;
  border: 1px solid var(--color-dark);
  transform: translateY(12px);
  background-color: var(--color-medium);
  color: #393f44;
  transition: 0.3%;
}

/* Form friend*/
form {
  font-size: 1.5rem;
  display: grid;
  align-items: center;
  gap: 1.2rem;

  background-color: var(--color-lightness);
  border-radius: 7px;
}

.form-add-friend {
  grid-template-columns: 1fr 1.5fr;
  grid-template-areas:
    "label-name input-name"
    "label-image input-image"
    ". button";
  margin-bottom: 1.5rem;
  padding: 1.2rem;
}

.label-name {
  grid-area: label-name;
}

.input-name {
  grid-area: input-name;
}

.label-image {
  grid-area: label-image;
}

.input-image {
  grid-area: input-image;
}

label {
  font-weight: 500;
  grid-area: label;
}

label::first-letter {
  display: inline-block;
  margin-right: 4px;
  font-size: 1.8rem;
}

input,
select {
  font-size: 1.5rem;
  padding: 0.7rem;
  grid-area: input;
  text-align: center;
  border: 1px solid var(--color-light);
  border-radius: 4px;
  transition: 0.3s;
}

input:focus,
select:focus {
  outline: none;
  border: 1px solid var(--color-dark);
}

form .button {
  transform: translateY(-5px);
  grid-area: button;
}

.btn-friend:hover,
.btn-bill:hover {
  background-color: #97aabd;
}

/* Form split bill*/
.form-split-bill {
  grid-template-columns: 1fr 12rem;
  grid-template-areas:
    "header ."
    "label-total input-total"
    "label-tagihan-kamu input-tagihan-kamu"
    "label-tagihan-teman input-tagihan-teman"
    "label-ditalangin input-ditalangin"
    ". button";
  padding: 3.2rem 4rem;
}

.form-split-bill h1 {
  grid-area: header;
}

.label-total-tagihan {
  grid-area: label-total;
}

.input-total-tagihan {
  grid-area: input-total;
}

.label-tagihan-kamu {
  grid-area: label-tagihan-kamu;
}

.input-tagihan-kamu {
  grid-area: input-tagihan-kamu;
}

.label-tagihan-teman {
  grid-area: label-tagihan-teman;
}

.input-tagihan-teman {
  grid-area: input-tagihan-teman;
}

.label-ditalangin {
  grid-area: label-ditalangin;
}

.input-ditalangin {
  grid-area: input-ditalangin;
}

.button {
  grid-area: button;
}
